* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
}

h2 {
    margin-bottom: 10px;
}

/* Estilos para o rodapé */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer h2, footer p {
    margin-bottom: 10px;
}

.horizontal{
    display: flex;
    flex-direction: row;
}

.titulo{
    padding-left: 30px;
    justify-content: center;
}

.item{
    background-color: #333;
    width: 190px;
    color: white;
    justify-content: center;
    padding: 20px;
    padding-right: 10px;
    margin: 20px;
}

img{
    width: 500px;
}

a{
    color: #f4f4f4;
}

.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
}

.carousel-image {
    max-width: 100%;
    display: block;
    transition: transform 0.5s ease;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}